* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
}

.container header {
  height: 56px;
  background-color: #fff;
  position: sticky;
  top: 0;
}

.container main {
  background-color: lightcyan;
  padding: 0 300px;
}
