<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="12Column.css" />
  </head>
  <body>
    <div class="container">
      <div class="section span12">
        span12
      </div>
      <div class="section span6">
        span6
      </div>
      <div class="section span4">
        span4
      </div>
      <div class="section span2">
        span2
      </div>
    </div>
  </body>
</html>
