* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 1px solid rebeccapurple;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  background: lightpink;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.visual {
  height: 100px;
  width: 100%;
  margin: 0.5rem 0;
  background: wheat;
}

h1 {
  font-size: 1.5rem;
}
