<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="LineUp.css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h1>Title1</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita,
          quidem.
        </p>
        <div class="visual"></div>
      </div>
      <div class="card">
        <h1>Title2</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, cumque
          repudiandae porro assumenda odit tempore voluptatum commodi
          consequatur fuga eum asperiores unde inventore ab illo deleniti libero
          quo harum? Consequatur recusandae culpa dolore sequi dolorum nostrum
          voluptates maiores ab? Tempora aliquam expedita nostrum magnam modi
          vero tempore facere ex iure!
        </p>
        <div class="visual"></div>
      </div>
      <div class="card">
        <h1>Title3</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio neque
          quos quia commodi sunt.
        </p>
        <div class="visual"></div>
      </div>
    </div>
  </body>
</html>
