<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heello in sidebar</title>
    <link rel="stylesheet" href="sidebar.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar" contenteditable="true">
        Min 150px <br />
        Max 25%
      </div>
      <main class="content" contenteditable="true">
        main content Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Hic autem, quisquam aperiam perspiciatis soluta, odio eum maxime
        voluptatibus officia amet iste rem quos ad earum sit asperiores
        distinctio dolore vitae.
      </main>
    </div>
  </body>
</html>
