body {
  font-family: system-ui, serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
}

.container {
  border: 1px solid rebeccapurple;
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  height: 100vh;
}
.container > * {
  padding: 2rem;
}
.container header {
  background-color: lightblue;
  grid-row: 1 /2;
  grid-column: 1/-1;
  text-align: center;
}

.ls {
  background-color: lightcoral;
  grid-row: 2 /3;
  grid-column: 1/2;
  text-align: center;
}

main {
  background-color: lightgreen;
  grid-row: 2 /3;
  grid-column: 2/3;
  text-align: center;
}

.rs {
  background-color: lightsalmon;
  grid-row: 2 /3;
  grid-column: 3/-1;
  text-align: center;
}

footer {
  background-color: limegreen;
  grid-row: 3 /4;
  grid-column: 1/-1;
  text-align: center;
}
