* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 22px;
}

.container {
  /* border: 1px solid red; */
  display: grid;
  grid-gap: 10px;
  grid-template-rows: minmax(100px, auto) 1fr;
  min-height: 100vh;
}

header {
  display: grid;
  place-items: center;
}

header button {
  padding: 10px;
  cursor: pointer;
}

.container > * {
  border: 3px solid green;
}
/* model data */
.model-wrapper {
  height: 100%;
  background-color: #eee;
  /* display: none; */
  /* border: 3px solid rebeccapurple; */
}

.form-wrapper {
  height: 100%;
  border: 3px solid rebeccapurple;
  display: grid;
  grid-template:
    minmax(50px, auto) 1fr minmax(100px, auto) / minmax(200px, auto)
    1fr minmax(300px, auto);
}

.form-header {
  border: 1px solid green;
  grid-row: 1/ 2;
  grid-column: 1 /-1;
  display: grid;
  grid-template-columns: minmax(200px, auto) 1fr minmax(300px, auto);
}

.header-item-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-item-wrapper div {
  display: flex;
}

.header-item-wrapper div > * {
  padding: 5px;
  margin: 0 5px;
}

.close-model-btn {
  grid-column: 3/ -1;
  font-size: 30px;
  font-weight: bolder;
}

.close-model-btn:hover,
.close-model-btn:focus {
  cursor: pointer;
}

.form-content {
  border: 1px solid red;
  grid-row: 2/ 3;
  grid-column: 2/ 3;
  display: flex;
  flex-direction: column;

  padding: 5px 30px 0;
}

.form-content input {
  flex: 1 1 0;
  font-size: 34px;
  font-weight: bolder;
}

.form-content textarea {
  margin-top: 10px;
  flex: 10 1 0;
  resize: none;
}

.form-content > * {
  padding: 10px;
  width: 100%;
}

.form-wrapper section > * {
  display: block;
}

.form-wrapper footer {
  border: 1px solid seagreen;
  grid-row: 3/ 4;
  grid-column: 2/ 3;

  padding: 5px 30px 0;
}
