* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 22px;
}

.wp {
  border: 1px solid seagreen;
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  border: 1px solid lightblue;
  padding: 0 10px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  /* height: 500px; */
  display: flex;
  flex-direction: column;

  /* justify-content: space-between; */
}

.card > * {
  margin: 5px 0;
}

.cover {
  border: 2px solid rebeccapurple;
  flex: 1;
}

.cover img {
  width: 100%;
  /* height: 100%; */
}

.card .cn {
  border: 2px solid rebeccapurple;
  flex: 6;
  background-color: #fff;
  padding: 2px 16px;
}

.card button {
  padding: 1rem;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: bolder;
}
