* {
  font-size: 24px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  border: 1px solid red;
  /* min-height: 100vh; */
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.container > * {
  border: 1px solid rebeccapurple;
  margin: 5px 0;
  padding: 10px;
}

.container header {
  flex-shrink: 0;
}

.container main {
  flex-grow: 1;
  font-size: 12px;
}

.container footer {
  flex-shrink: 0;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: lightcyan;
}
